<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stayhome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayHome">
        <activity
            android:name=".dostavuvac.NarackiDostavaActivity"
            android:exported="false"
            android:parentActivityName=".dostavuvac.DostavuvacActivity"/>
        <activity
            android:name=".dostavuvac.OpstiniDostavaActivity"
            android:exported="false"
            android:parentActivityName=".dostavuvac.DostavuvacActivity" />
        <activity
            android:name=".dostavuvac.DostavuvacActivity"
            android:exported="false" />
        <activity
            android:name=".kupuvac.KupuvacProfilActivity"
            android:exported="false"
            android:parentActivityName=".kupuvac.KupuvacActivity" />
        <activity
            android:name=".firma.ProfilFirmaActivity"
            android:exported="false"
            android:parentActivityName=".firma.FirmaActivity" />
        <activity
            android:name=".kupuvac.KomentariActivity"
            android:exported="false"
            android:parentActivityName=".kupuvac.KupuvacActivity" />
        <activity
            android:name=".firma.naracki.FirmaNarackiActivity"
            android:exported="false"
            android:parentActivityName=".firma.FirmaActivity" />
        <activity
            android:name=".kupuvac.KupuvacAktivniNaracki"
            android:exported="false"
            android:parentActivityName=".kupuvac.KupuvacActivity" />
        <activity
            android:name=".googleMap.GoogleMapActivity"
            android:exported="false">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDqLQ9DR3YH8A35yzK4oGt1xoLyaXIQxuk" />
        </activity>
        <activity
            android:name=".kupuvac.naracka.NarackaActivity"
            android:exported="false" />
        <activity
            android:name=".kupuvac.KupuvacMeniActivity"
            android:exported="false"
            android:parentActivityName=".kupuvac.KupuvacActivity" />
        <activity
            android:name=".googleMap.ShowGoogleMapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqLQ9DR3YH8A35yzK4oGt1xoLyaXIQxuk" />

        <activity
            android:name=".firma.DodadiArtiklActivity"
            android:exported="false"
            android:parentActivityName=".firma.FirmaMeniActivity" />
        <activity
            android:name=".admin.AdminMeniActivity"
            android:exported="false"
            android:parentActivityName=".admin.AdminActivity" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".firma.FirmaMeniActivity"
            android:exported="false"
            android:parentActivityName=".firma.FirmaActivity" />
        <activity
            android:name=".kupuvac.KupuvacActivity"
            android:exported="false"
            android:parentActivityName=".firma.FirmaActivity" />
        <activity
            android:name=".firma.FirmaActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>