<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stayhome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayHome">
        <activity
            android:name=".KupuvacAktivniNaracki"
            android:exported="false"
            android:parentActivityName=".KupuvacActivity"/>
        <activity
            android:name=".GoogleMapActivity"
            android:exported="false">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDqLQ9DR3YH8A35yzK4oGt1xoLyaXIQxuk" />
        </activity>
        <activity
            android:name=".NarackaActivity"
            android:exported="false" />
        <activity
            android:name=".KupuvacMeniActivity"
            android:exported="false"
            android:parentActivityName=".KupuvacActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqLQ9DR3YH8A35yzK4oGt1xoLyaXIQxuk" />

        <activity
            android:name=".DodadiArtiklActivity"
            android:exported="false"
            android:parentActivityName=".FirmaMeniActivity" />
        <activity
            android:name=".AdminMeniActivity"
            android:exported="false"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".FirmaMeniActivity"
            android:exported="false"
            android:parentActivityName=".FirmaActivity" />
        <activity
            android:name=".KupuvacActivity"
            android:exported="false" />
        <activity
            android:name=".FirmaActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>